body {
	margin: 0;
	padding: 0;
	background-image: url('pared.jpg');
	background-repeat: repeat;		
}

#muro {	
	height: 600px;
	width: 1200px;
}

.firma {
	position: absolute;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	color: white;
	text-shadow: 8px 2px black;
	padding: 5px;
}